
@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
  
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0; 
}


/* -----  Header ----- */
.mobile {
	display: none;
}
li, a {
	list-style: none;
}
  
#Nav {
	width: 100%;
	background-color: #050505;
	display: block;
	height: 65px;
	text-align: center;
	position: fixed;  
}
  
#Nav > ul {
	display: flex;
	margin-bottom: 0 !important;
    margin-right: 10vw;
    float: right;
    line-height: 40px;
}
  
#Nav > ul > li {	
    
	padding: 0px 3%;
    
}  
  
#Nav > ul > li > a {
	color: rgb(215, 215, 215);
	font-size: 16px;
    font-weight: 600;
	padding: 3px;
    text-shadow: 3px 3px 3px #050505;
}
  
#Nav  ul  li  a:hover {
	
	color:#46bbff!important;
	font-size: 16px;
	padding: 3px;
	transition: color 600ms;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}
.navbar.ativo {
    background-color: #0202027e!important;
}  

@media  (max-width: 1200px){

	.desk {
	  display: none!important;
	 }
	.mobile {
	  display: inline;
	  color: rgb(215, 215, 215);
	}
	
	.menu-icon {
	  float: right;
      margin-right: 3%;
	  cursor: pointer;
	  padding: 10px;
	  color: rgb(215, 215, 215);
      
	}
    .menu-icon i {
        transition: 0.5s;
        font-size: 32px;
    } 
	.btn-ham {
  	  height: 28px;
  	  width: 20px;
  	  color: #e8eff8;
  	  background-color: transparent;
  	  border: none;
  	  cursor: pointer;
    }
    .btn-ham:hover{
  	  font-size: 16px;
  	  color:#46bbff!important;
  	  transition: color 900ms;
  	  transition-duration: 0.5s;
  	  transition-timing-function: ease-in-out;
      
    }
    
    .listmenu {
  	    display: none;
  	    position: absolute;
  	    margin-top: 10px;
  	    padding-left: 0;
  	    cursor: pointer;
        animation: anime;
        animation-duration: 1.8s;
    }
    @keyframes anime {
        from{opacity: 0;}
        to{opacity: 0.9;}
    }
    .listmenu > ul {
  	    position: fixed;
  	    width: 100vw;
  	    display: block;
  	    text-align: right;
  	    left: 0vw;
        
    }
    .listmenu ul li a {
  	    color: rgb(215, 215, 215);
  	    display: block;
  	    background-color: #0202027e;
  	    font-size: 16px;
  	    font-weight: 600;
  	    text-decoration: none;
        padding-right: 4%!important;
        padding-top: 5px!important;
        padding-bottom: 5px!important;
        text-shadow: 3px 3px 3px #050505;
    }
    .listmenu > ul > li > a:hover {
        
        color:#46bbff!important;
  	    transition: color 600ms;
  	    transition-duration: 0.5s;
  	    transition-timing-function: ease-in-out;
    }
    
    .open {
  	    display: block;
    }
	 
	.content {
	  display: none;
	} 
}	 
 /* ------ header end ----- */ 

.back {
    background-image: url(../img/PCBstiloFlip.jpg);
      background-repeat: no-repeat;
      background-size: cover;
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;  
}

.linha {
    color: #cf31ff;
}
.img-fluid {
    height: 100% auto;
}
#cardR {
    background: rgb(136, 103, 255);
    background: linear-gradient(90deg, rgb(37, 0, 170) 0%, rgba(255, 255, 255, 0.89) 80%);
    margin-top: 6%!important;  
    max-width: 75rem;
}
#cadastro  {
    padding-top: 5rem!important;
    
}
.g-0 {
    height: 80vh;
}
.d-none img {
    height: 80vh;
    width: 100%;   
}
.card-body h3 {
    font-size:  max(27px, 1.6vw);
    font-weight: 600;
}
#btn-enviar {
    color: #c5c4c4;
    background-color: #5867dd;
    border: 2px solid white;
}
#btn-enviar:hover {
    background-color: #394cd6;
    border: 2px solid #46bbff;
    color: #ffffff;
}
#btn-limpar {
    border: 2px solid #5867dd;
    color:#898b96
}
#btn-limpar:hover {
    border: 2px solid #46bbff;
    color: #000;
}


/*        FOOTER       */

#footer-logo ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
}

ul {
 padding:0;
 margin:0
 
}
li {
 list-style:none
}
a:focus,a:hover {
 text-decoration:none;
 -webkit-transition:.3s ease;
 -o-transition:.3s ease;
 transition:.3s ease
}
a:focus {
 outline:0
}

p {
 font-size:16px;
 line-height:30px;
 color:#898b96;
 font-weight:300
}
h4 {
 font-family: "Poppins",sans-serif;
 margin:0;
 font-weight:400;
 padding:0;
 color:#363940
}
.no-padding {
 padding:0!important
}

.footer-big {
 padding:30px 0 0 0;
}
.footer-big .footer-widget {
 margin-bottom:40px;
}
.footer--light {
 background:#e7e8edd5;
 
}
#footer-body {
   
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.widget-about {
    
    display: block;
    justify-content: center;
    align-items: center;
}
.widget-about img {
    
   display: block;
   margin-left: auto;
   margin-right: auto;
    height: 160px;
    width: 180px;
    
}
.widget-about a {
    display: block;
    color: #969696;
    font-size: large;
    font-weight:700;
    justify-content: center;
    text-align: center;
}
#footer-middle {
    display: block;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
      
}
#footer-last {
    font-weight: 700;
    font-size: 1.5rem;
	display: block;
    justify-content: center;
	text-align: center;	
   
}

.footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
 color:#969696
}
.footer-menu {
    padding-right:2rem;
    text-align: center;
}
.footer-menu ul li a {
 font-size:15px;
 line-height:32px;
 -webkit-transition:.3s;
 -o-transition:.3s;
 transition:.3s
}
.footer-menu ul li a:hover {
 color:#853bcc;
 text-decoration: none;
 transition: color 900ms;
 transition-duration: 0.5s;
 transition-timing-function: ease-in-out;
}
.widget-about a:hover {
    color:#853bcc;
    transition: color 900ms;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.footer-menu--1 {
 width:100%
}
.footer-widget-title {
 line-height:42px;
 margin-bottom:10px;
 font-size:18px
}
.mini-footer {
 background:#141618fa;
 text-align:center;
 padding: 12px;
} 
.mini-footer p {
	
 margin:5px;
 line-height:26px;
 font-size:15px;
 color:rgb(201, 201, 201);
 text-align:center;
}
.mini-footer p a {
 color:rgb(88, 103, 221);
 font-weight:600;
 
}
.mini-footer p a:hover {
 color: #46bbff;
 text-decoration: none;
 font-weight:600;
 transition: color 900ms;
 transition-duration: 0.5s;
 transition-timing-function: ease-in-out;
 
}
.widget-about .contact-details {
 justify-content: center;
 text-align: center;
}
.widget-about .contact-details li {
 margin-bottom:10px
}
.widget-about .contact-details li:last-child {
 margin-bottom:0
}
.widget-about .contact-details li span {
 padding-right:12px
}
.widget-about .contact-details li a {
 color:#5867dd
}


@media (max-width:1200px) {

.card-registration .form-control {
    color:#46bbff!important;
    font-weight: 400;
}      
 .footer-menu {
  padding-left:0;
  padding-right: 0;
  text-align: center;
  justify-content: center;
 
 }
 #footer-logo {
	align-items: center;
    text-align: center;
    justify-content: baseline;
}
#footer-last {
    margin: 0;
    margin-left: 20%;
}

}
@media (max-width:800px) {
    .container .row {
        flex-direction: column;
        align-items: center;
        display: flex;
        
    }
    .ol, ul {
        padding-left: 0!important;
    }
    .footer.menu {
        float: right;
    }
    #footer.middle {
        display: table-cell;
        float: right;  
    }

    .col-sm-2 {
        text-align: center;
    }
    #footer-last {  
        margin-left: 0;
    }
  
@media (max-width: 766px) {
    .col-sm-2 {
        
        margin-right: 5%;
        display: contents;
    }
    .card-body h3 {
        font-size:  min(27px, 4.8vw);
        
    }
    #cadastro  {
        padding-top: 2rem!important;
        
    }
} 
}