
@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
  
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0; 
}

#navbarNav {
	font-weight: 500;
	font-family: "Poppins", sans-serif;
	height: 55px;
}
#navbarNav .nav-item:hover {
	font-weight: 600;
	color:rgb(255, 255, 255);
  	text-decoration: none;
}
.back {
    background-image: url(../img/PCBstiloFlip.jpg);
      background-repeat: no-repeat;
      background-size: cover;
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}
.linha {
    color: #FAAF00;
}
.img-fluid {
    height: 100%;
}
#cardR {
    background: rgb(255,213,103);
    background: linear-gradient(90deg, rgba(255,213,103,1) 0%, rgba(255,255,255,1) 60%);
}
/*        FOOTER       */

#footer-logo ul li a {
    text-decoration: none;
}
#footer-logo ul li a:hover {
    color:rgb(52, 191, 163);
    text-decoration: none;
    font-weight:400;
}
#footer-logo {
	margin-left: 10%;
	text-align: left;
}
#footer-logo p {
	margin-left: 17%;
	text-align: left;
	
}	
#footer-last {
	
	margin-right: 17%;
	text-align: end;	
}

ul {
 padding:0;
 margin:0
 
}
li {
 list-style:none
}
a:focus,a:hover {
 text-decoration:none;
 -webkit-transition:.3s ease;
 -o-transition:.3s ease;
 transition:.3s ease
}
a:focus {
 outline:0
}

p {
 font-size:16px;
 line-height:30px;
 color:#898b96;
 font-weight:300
}
h4 {
 font-family: "Poppins",sans-serif;
 margin:0;
 font-weight:400;
 padding:0;
 color:#363940
}
a {
 color:#5867dd
}
.no-padding {
 padding:0!important
}

.footer-big {
 padding:30px 0 0 0;
 
 
}
.footer-big .footer-widget {
 margin-bottom:40px;
 
}
.footer--light {
 background:#e7e8edd5;
 
}
.footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
 color:#969696
}
.footer-menu {
    padding-left:48px
}
.footer-menu ul li a {
 font-size:15px;
 line-height:32px;
 -webkit-transition:.3s;
 -o-transition:.3s;
 transition:.3s
}
.footer-menu ul li a:hover {
 color:#5867dd;
 text-decoration: none;
}
.footer-menu--1 {
 width:100%
}
.footer-widget-title {
 line-height:42px;
 margin-bottom:10px;
 font-size:18px
}
.mini-footer {
 background:#141618fa;
 text-align:center;
 padding: 12px;
} 
.mini-footer p {
	
 margin:5px;
 line-height:26px;
 font-size:15px;
 color:rgb(201, 201, 201);
 text-align:center;
}
.mini-footer p a {
 color:rgb(88, 103, 221);
 font-weight:600;
 
}
.mini-footer p a:hover {
 color:rgb(52, 191, 163);
 text-decoration: none;
 font-weight:600;
 
}
.widget-about img {
 display:block;
 margin-bottom:30px
}
.widget-about p {
 font-weight:400
}
.widget-about .contact-details {
 margin:30px 0 0 0
}
.widget-about .contact-details li {
 margin-bottom:10px
}
.widget-about .contact-details li:last-child {
 margin-bottom:0
}
.widget-about .contact-details li span {
 padding-right:12px
}
.widget-about .contact-details li a {
 color:#5867dd
}

@media (max-width:1397px) {
    .img-fluid {
        height: 100% !important;
        width: 100%;

    }
}
@media (max-width:1200px) {
 .footer-menu {
  padding-left:0;
  padding-right: 0;
  text-align: center;
  justify-content: center;
 
 }
 #footer-logo {
	margin-right: 10%;
	align-items: center;
    text-align: center;
    justify-content: baseline;
}
#footer-last {
    margin: 0;
    margin-left: 20%;
}

}
@media (max-width:800px) {
    .container .row {
        flex-direction: column;
        align-items: center;
        display: flex;
        
    }
    .footer.menu {
        float: right;
    }
    #footer.middle {
        display: table-cell;
        float: right;  
    }

    .col-sm-2 {
        text-align: center;
    }
    #footer-last {  
        margin-left: 0;
    }
   
   
  
@media (max-width: 766px) {
    #footer.middle {
        
    }
    .col-sm-2 {
        
        margin-right: 5%;
        display: contents;
    }
}
}