@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    color: #00afb9;
    font-family: 'Dosis', sans-serif;
}
.conteudo{
    padding: 10px 0;
    background: #2b2d42;
}
.conteudo p{
    font-size: 22px;
    font-family: 'Dosis', sans-serif;
    color: #fff;
    border-top: 1px solid #edf2f4;
    border-bottom: 1px solid #edf2f4;
    margin: 15px 50px ;
}
section.module.content{
    padding: 40px 0;
    background: #2b2d42;
}