@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #1d3557 0%, #457b9d 100%);
    padding: 40px;
}
.container{
    max-width: 850px;
    background: #141618fa;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 30px;
    border-radius: 25px;
    
}
.container .login-form .title{
    position: relative;
    font-size: 24px;
    font-weight: 800;
    color: #edf2f4;
}
.container .login-form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background-color: #90e0ef;
}
.container .login-form .input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
    
} 
.container .login-form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 800;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    border-radius: 10px;
}
.container .login-form .input-box input:focus,
.container .login-form .input-box input:valid{
    border-color:#90e0ef;
}
.container .login-form .input-box input[type="submit"]{
    background-color: #22223b;
    border: 0;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.container .login-form .input-box i{
    position: absolute;
    color: #2b2d42;
    font-size: 15px;
}
.container .login-form .forgot a{
    color:#90e0ef;
    text-decoration: none;
    font-weight: 800;
}
.container .login-form .divider{
    text-align: center;
    margin: 10px;
    font-size: 18px;
    color: #edf2f4;
    font-weight: 800;
}
.container .login-form .media-sociais{
    text-align: center;
}
.container .login-form .media-sociais i{
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
}
.container .login-form .media-sociais i:hover{
    color: #edf2f4;
}
.container .login-form .sigup-text p{
    color:#edf2f4;
    text-align: center;
    font-weight: 800;
}
.container .login-form .sigup-text a{
    color:#90e0ef;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
}
.container .login-img{
    width: 50%;
}
@media (max-width:800px) {
    .login-img{
        display: none;
    }
}